/BESA/AgentePepper/AgentePepper/nbproject/private/
/BESA/FrameWorkBESA/KernelBESA/nbproject/private/
/BESA/FrameWorkBESA/LocalBESA/nbproject/private/
/BESA/AgentePepper/AgentePepper/build/
/BESA/AgentePepper/AgentePepper/dist/
/BESA/AgentePepper/moduloCuidador/nbproject/private/
/BESA/AgentePepper/moduloCuidador/build/
/BESA/AgentePepper/TopicsRESPwA/nbproject/private/
/BESA/AgentePepper/TopicsRESPwA/build/
/BESA/AgentePepper/ResPwAAgent/nbproject/private/
/BESA/AgentePepper/ResPwAAgent/build/
/BESA/AgentePepper/ResPwAAgent/dist/
/BESA/AgentePepper/ResPwAEntities/build/
/BESA/AgentePepper/ResPwAEntities/dist/
/BESA/AgentePepper/moduloCuidador/dist/
/BESA/AgenteResPwA/ResPwAEntities/dist/
/BESA/AgenteResPwA/ResPwAAgent/dist/
/BESA/FrameWorkBESA/RationalBESA/nbproject/private/
/BESA/FrameWorkBESA/BDIBESA/build/
/BESA/AgenteResPwA/ResPwAAgent/build/
/BESA/AgenteResPwA/ResPwAEntities/build/
/BESA/AgenteResPwA/ResPwAEntities/build/
/BESA/AgenteResPwA/ResPwAAgent/build/
/BESA/FrameWorkBESA/RationalBESA/dist/
/BESA/FrameWorkBESA/BDIBESA/dist/
/Python/PythonProject/venv/
/Python/PythonProject/venv2/
/Python/PythonProject/venv2/Environment
/BESA/FrameWorkBESA/RationalBESA/build/
/scriptsDocker/oracledb/
/BESA/AgenteResPwA/ResPwAAgent/nbproject/private/private.properties
/BESA/AgenteResPwA/ResPwAAgent/nbproject/private/private.xml
/BESA/AgenteResPwA/ResPwAEntities/nbproject/private/private.properties
*.properties
BESA/AgenteResPwA/ResPwAAgent/nbproject/private/private.properties
*.properties
*/*.class
./Python/PythonProject/Enviroment/
./Python/PythonProject/venv/
