
AR--ScriptTextEdit {
  font-size: 10pt;
}

/* The following rule fixes #15585.
 * If a qss is applied, and no font is setup for QAbstractItemView, then the
 * font-family will change on an item-basis depending on wether the item's text
 * is fully visible or not.
 *
 * See also
 * https://bugreports.qt-project.org/browse/QTBUG-29232
 */
QAbstractItemView{
  font-family: "unknown";
  font-size: 9pt
}

